*{
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    margin: 0 auto;
    font-family: 'Padauk', sans-serif;
}

a {
    all:unset;
}

a:visited{
    text-decoration: none;
    color: #3f464d;
}

a:link{
    text-decoration: none;
    color: #3f464d;
}

a:active{
    text-decoration: none;
    color: #3f464d;
}


header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
}
.navbar nav{
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
}

.navbar .nav-title{
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    font-weight: 700;
}

.navbar .nav-title:hover{
    cursor:pointer;
    color:#00ffff
}

.navbar .navbar-right{
    display: flex;
    margin-right: 4rem;
    font-size: 1rem;
    list-style: none;
}

.navbar .navbar-right li{
    font-size: 1.2rem;
    padding-left:1rem;
    padding-right:1rem;
}

.navbar .navbar-right li a:hover{
    cursor:pointer;
    color:#00ffff
}

.toggle-btn{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    display: none;
    border-radius: 4px;
    border-color: #000;
    background-image: none;
    margin-top: 0.5rem;
    border: 1px solid transparent;
}

.toggle-btn i{
    align-items: center;
    font-size: 2rem;
    padding-right: 1rem;
    color: #fff;
}

.main-title{
    position: relative;
    width: 100%;
    background-color: #90d5eb;
    margin-top: 4.5rem;
    padding-bottom: 10.2rem;
}


.main-title .inner .subject{
    text-align: center;
    color: #fff;
    font-size: 4rem;
}
.main-title .inner .profile{
    text-align: center;
}
.main-title .inner .profile img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.main-title .inner .text{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.main-title .inner .text .text-br{
    display: none;
}


.main-title .inner .more_btn{
    cursor: pointer;
    margin-top: 4rem;
    border: none;
    border-radius: 40px;
    background-color: #9932CC;
    color:#fff;
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.about-me{
    display: block;
    width: 100%;
    height: 100%;
}

.about-me .inner .about-title{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.about-me .inner .about-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.about-me .inner .about-content .about-block{
    width: 100%;
    max-width: 20rem;
    display: flex;
    padding: 3rem 0;
    margin: 0 auto;
}

.about-me .inner .about-content .about-block i{
    font-size: 2rem;
    padding-right: 1rem;
}

.about-me .inner .about-content .about-block .about_text .small-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.about-me .inner .about-content .about-block .about_text .small-content{
    font-size: 1.2rem;
    text-align: start;
}

.skills{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFDDDD;
}


.skills .inner .skills-title{
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.skills .inner .boxes{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.skills .inner .boxes .box-content{
    max-width: 24rem;
    background-color: #fff;
    border-radius: 20px;
    margin: 1rem 1rem;
    box-shadow:  1rem 1rem 1rem 0 #d3d3d3;
    transition: 0.5s;
}
.skills .inner .boxes .box-content:hover{
    transform: translate(0,10px);
}

.skills .inner .boxes .box-content .indiv-box .box-title{
    color: #ff6347;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: 900;
}

.skills .inner .boxes .box-content .indiv-box img{
    width: 100%;
    border-radius: 20px;
}

.works{
    display: block;
    width: 100%;
    height: 100%;
    background-color:#b5c7ed;
}

.works .inner .works-title{
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.works .inner .results{
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.works .inner .results .works-box{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 1rem;
    width: 70rem;
}

.works .inner .results .works-box .works_title{
    padding : 1rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.works .inner .results .works-box .indiv-works{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.works .inner .results .works-box .indiv-works .indiv-works-display{
    width: 25rem;
    height: 25rem;
    padding: 2rem 2rem;
}

.works .inner .results .works-box .indiv-works .indiv-works-display img{
    width: 100%;
    height: 100%;
}

.works .inner .results .works-box .indiv-works .indiv-works_text{
    max-width: 35rem;
    height: 100%;
    padding: 2rem 0;
}

.works .inner .results .works-box .indiv-works .indiv-works_text_main{
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
}

.works .inner .results .works-box .indiv-works .indiv-works_text_sub{
    display: block;
    padding: 1rem 0;
}

.works .inner .results .works-box .indiv-works .indiv-works_text_sub .indiv-works_text_subtitle::before{
    content: "\f0e7";
    font-family: FontAwesome;
    display: inline;
    padding-right: 0.5rem;
}
.works .inner .results .works-box .indiv-works .indiv-works_text_sub .indiv-works_text_subtitle{
    display: inline-block;
    font-weight: 800;
    font-size: 1rem;
    padding-right: 1rem;
    width: 8.4rem;
}

.works .inner .results .works-box .indiv-works .indiv-works_text_sub .indiv-works_text_subtext{
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    width: calc(100% - 8.4rem);
}

footer{
    width: 100%;
    text-align: center;
}

footer i{
    font-size: 3rem;
}

footer p{
    font-size: 1rem;
}

#backtotop {
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 4px solid #3f464d;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  
#backtotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-size: 1.5rem;
    line-height: 40px;
    color: #000;

  }
  
  #backtotop.show:hover {
    cursor: pointer;
  }
  
  #backtotop.show {
    opacity: 1;
    visibility: visible;
    background-color: #fff;
  }

@media screen and (max-width: 767px) {
    body{
        margin: 0 auto;
    }
    a {
        all:unset;
    }
    header{
        width: 100%;
        height: 3rem;
    }
    .navbar nav a:link{
        text-decoration: none;
        color: #3f464d;
    }
    .navbar nav a:visited{
        text-decoration: none;
        color: #3f464d;
    }
    
    .navbar nav{
        display: flex;
        width:  100%;
        height: 100%;
        flex-direction: column;
    }

    .navbar .nav-title{
        font-size: 2.5rem;
    }

    .toggle-btn{
        position: absolute;
        right: 1rem;
        display: inline;
    }
    .toggle-btn i{
        color: #3f464d;
    }

    .navbar .navbar-right{
        padding-left: 0;
        width: 100%;
        display: none;
    }

    .navbar .navbar-right li{
        font-size: 1.6rem;
        padding: 0.5rem 0  ;
    }

    .navbar-right.active{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        height: 100%;
    }

    .navbar-right.active li{
        width: 100%;
        text-align: center;
    }

    .main-title {
        margin-top: 4rem;
    }

    .main-title .inner .subject{
        font-size: 2.5rem;
    }

    .main-title .inner .text{
        padding-top: 1rem;
        font-size: 1.25rem;
    }

    .main-title .inner .text .text-br{
        display: block;
    }

    .about-me .inner .about-content .about-block{
        padding-left: 3rem;
        padding-bottom: 1.25rem;
    }

    .skills .inner .boxes .box-content{
        margin: 1rem 2rem;
    }

    #backtotop{
        display: none;
    }
    footer i{
        color: black;
        font-size: 2rem;
    }
    footer p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1023px) {
}

