*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'Padauk', sans-serif;
}

a {
    all:unset;
}

a:visited{
    text-decoration: none;
    color: #3f464d;
}

a:link{
    text-decoration: none;
    color: #3f464d;
}

a:active{
    text-decoration: none;
    color: #3f464d;
}


header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}
.navbar nav{
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
}

.navbar .nav-title{
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    font-size: 700;
}
.navbar .nav-title:hover{
    cursor:pointer;
    color:#00ffff
}

.navbar .navbar-right{
    display: flex;
    margin-right: 4rem;
    font-size: 1rem;
    list-style: none;
}

.navbar .navbar-right li{
    font-size: 1.2rem;
    padding-left:1rem;
    padding-right:1rem;
}

.navbar-right li a:hover{
    cursor: pointer;
    color: #00ffff;
}

.toggle-btn{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    display: none;
    border-radius: 4px;
    border-color: #000;
    background-image: none;
    margin-top: 0.5rem;
    border: 1px solid transparent;
}

.toggle-btn i{
    align-items: center;
    font-size: 2rem;
    padding-right: 1rem;
    color: #fff;
}

.main-title{
    position: relative;
    width: 100%;
    background-color: #90d5eb;
    margin-top: 5rem;
    padding-bottom: 10.2rem;
}


.main-title .inner .subject{
    text-align: center;
    color: #fff;
    font-size: 4rem;
}
.main-title .inner .profile{
    text-align: center;
}
.main-title .inner .profile img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.main-title .inner .text{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.main-title .inner .more_btn{
    margin-top: 4rem;
    display: inline-block;
    border: none;
    border-radius: 40px;
    background-color: #9932CC;
    color:#fff;
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.about-me{
    display: block;
    width: 100%;
    height: 100%;
}

.about-me .inner .about-title{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.about-me .inner .about-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.about-me .inner .about-content .about-block{
    width: 100%;
    max-width: 20rem;
    display: flex;
    padding: 3rem 0;
    margin: 0 auto;
}

.about-me .inner .about-content .about-block i{
    font-size: 2rem;
    padding-right: 1rem;
}

.about-me .inner .about-content .about-block .about_text .small-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.about-me .inner .about-content .about-block .about_text .small-content{
    font-size: 1.2rem;
    text-align: start;
}

.desc2{
    display: block;
    width: 100%;
    height: 500px;
    background-color: yellow;
}

.desc3{
    display: block;
    width: 100%;
    height: 500px;
    background-color: red;
}

footer{
    width: 100%;
    text-align: center;
}

footer i{
    font-size: 3rem;
}
footer p{
    font-size: 1rem;
}
@media screen and (max-width: 767px) {
    body{
        margin: 0 auto;
    }
    a {
        all:unset;
    }
    header{
        width: 100%;
        height: 3rem;
    }
    .navbar nav a:link{
        text-decoration: none;
        color: #fff;
    }
    .navbar nav a:visited{
        text-decoration: none;
        color: #fff;
    }
    
    .navbar nav{
        display: flex;
        background-color: #000;
        width:  100%;
        height: 100%;
        flex-direction: column;
    }
    .navbar .nav-title{
        font-size: 2.5rem;
    }
    .toggle-btn{
        position: absolute;
        right: 1rem;
        display: inline;
    }

    .navbar .navbar-right{
        padding-left: 0;
        width: 100%;
        display: none;
    }
    .navbar .navbar-right li{
        font-size: 1.6rem;
        padding: 0.5rem 0  ;
    }

    .navbar-right.active{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        height: 100%;
    }

    .navbar-right.active li{
        width: 100%;
        text-align: center;
    }

    .main-title {
        margin-top: 4rem;
    };
    footer i{
        color: black;
        font-size: 2rem;
    }
    footer p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1023px) {
}

